<!DOCTYPE html>
<html ng-app="TopWebsites">
<head>
<meta charset="UTF-8">
<title>Websites Ranking</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="js/controllers.js"></script>

<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/datepicker3.css" />

</head>

<body>

	<div class="container" ng-controller="topwebController">

		<div class="page-header">
			<h1>Websites Ranking</h1>
		</div>

		<div class="input-group date">
			<input type="text" class="form-control" placeholder="Search by date" ng-model="query.dataDate"><span
				class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
		</div>
		<div class="checkbox">
  <label>
    <input type="checkbox" ng-model="checked" ng-change="changeLimit(5)"/>
    {{topBottom}}
  </label>
</div>

<!-- 		<form role="form"> -->
<!-- 			<div class="form-group"> -->
<!-- 				<input type="text" class="form-control" id="searchwebsite" -->
<!-- 					placeholder="Search" ng-model="BUANGquery.$"> -->
<!-- 			</div> -->
<!-- 		</form> -->

		<label>Sort:
		<select class="form-control" ng-change="propertiesChanged()" ng-model="view.config" ng-options="view.value as view.name for view in view.select"></select>
<!-- 		<select class="form-control" ng-model="order.config" ng-options="order.value as order.name for order in order.configs"></select> -->
		</label>
				<div class="radio">
			<label> <input type="radio" ng-change="orderChanged()" ng-model="descOrasc"
				name="optionsRadios"> ascending
			</label>
		</div>
		<div class="radio">
			<label> <input type="radio" ng-change="orderChanged()" ng-model="descOrasc"
				name="optionsRadios" value="reverse"> descending
			</label>
		</div>
 <pre>orderby: {{view.config}}, {{descOrasc}}</pre>
		<table
			class="table table-striped table-bordered table-hover table-condensed">
			<tr>
				<th>Date</th>
				<th>Website</th>
				<th>Visits</th>
			</tr>
			<tr data-ng-repeat="item in websites | filter:query | orderBy: view.config:descOrasc| limitTo: limitNum ">
<!-- 			data-ng-repeat="item in filtered= (websites | filter:query)"> -->

				<td>{{item.dataDate}}</td>
				<td>{{item.website}}</td>
				<td>{{item.visits}}</td>
			</tr>
		</table>
	</div>

	<script>
		$('.input-group.date').datepicker({
			format : "yyyy-mm-dd",
			todayBtn : "linked",
			autoclose : true,
			todayHighlight : true
		});
	</script>

</body>
</html>